@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  display: flex;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
  border: 3px solid #838383;
}